* {
    margin: 0;
    border: 0;
    outline: 0;
}

:root {
    --primary: #00113f;
    --secondary: #002055;
    --inactive: #7191a3;
    --highlight: #4ea0ff;
}

::-webkit-input-placeholder {
    color: var(--inactive);
}

::-moz-placeholder {
    color: var(--inactive);
}

a {
    color: #fff;
}

a.developer {
    color: var(--highlight);
    text-decoration: none;
}

body {
    background-color: var(--primary);
    font-family: Verdana, Tahoma, sans-serif;
    color: #fff;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    margin: 0 40px;
}

.main {
    position: relative;
    width: 660px;
    margin: 0 auto;
    align-items: center;
    background-color: var(--secondary);
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #00000099;
    overflow: hidden;
    max-height: calc(100vh - 80px);
}

.content {
    display: block;
    overflow: hidden;
    padding: 20px;
    overflow: overlay;
    max-height: calc(100vh - 200px);
}

.heading {
    display: flex;
    background-color: var(--secondary);
    justify-content: center;
    padding: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dashed var(--highlight);
    position: sticky;
    top: -1px;
    z-index: 2;
    height: 44px;
}

.title h1 {
    font-size: 20px;
    line-height: 20px;
}

.title h2 {
    font-size: 13px;
    font-weight: 500;
}

.logo {
    height: 40px;
    width: auto;
    padding-right: 8px;
}

.form {
    width: 330px;
    display: block;
    margin: 0 auto;
}

.row {
    display: flex;
}

.row>.col {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    position: relative;
}

.row>.col-1 {
    width: 100%;
}

.row>.col-2 {
    width: 50%;
}

label {
    font-size: 14px;
    line-height: 1;
}

label+input,
label+select,
label+textarea,
input+input {
    margin-top: 7px;
}

input[type=number],
input[type=text],
select,
button[type=submit] {
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    background-color: #0000004f;
    width: 100%;
    color: #fff;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

input[type=number],
input[type=text],
select {
    box-shadow: inset 1px 1px 3px 0 #000;
}

input[type=number] {
    padding-right: 0
}

select option {
    background-color: var(--primary);
}

input[type=number]:focus,
input[type=text]:focus,
select:focus {
    box-shadow: 0 0 0 2px #ffffff45;
}

.add-uname {
    position: absolute;
    right: 0;
    bottom: 0;
}

span.add {
    height: 20px;
    width: 20px;
    display: flex;
    position: relative;
    background-color: #0e3a6c;
    border-radius: 50%;
    box-shadow: -1px -1px 2px 0 #8697b3, 1px 1px 2px 0 #000;
    cursor: pointer;
    transition: 0.3s;
}

span.add:hover {
    box-shadow: -2px -2px 3px 0 #4f6383, 2px 2px 3px 0 #000;
}

span.add::before,
span.add::after {
    content: '';
    height: 2px;
    width: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--highlight);
}

span.add::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

button[type=submit] {
    width: 100%;
    background-color: #000912;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

button[type=submit]:hover {
    box-shadow: 0 0 0 3px #ffffff33;
}

div[name=result] {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 10px;
}

label[for=generated-code] {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

textarea.genrated-code {
    width: 100%;
    background-color: var(--primary);
    color: #fff;
    padding: 0 15px;
    transition: 0.3s ease-in-out;
    max-height: 0;
    height: 300px;
    box-shadow: inset 0 0 10px 5px #000912;
}

textarea.genrated-code.expand {
    max-height: 250px;
    opacity: 1!important;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.7;
}

textarea.genrated-code::-webkit-scrollbar-corner {
    background-color: transparent;
}

textarea.genrated-code::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

textarea.genrated-code::-webkit-scrollbar-thumb {
    background-color: #8f9fee;
    border-width: 1px 2px 1px 2px;
    border-style: solid;
    border-color: var(--primary);
    transition: 0.3s;
}

textarea.genrated-code::-webkit-scrollbar-track {
    background-color: #ffffff12;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.footer p+p::before {
    content: '◉';
    padding: 0 10px;
}

.tab-mobile {
    display: none;
    color: #ff3d3d;
    font-weight: 600;
    font-size: 15px;
    padding: 30px 15px;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .content {
        display: none;
    }
    .tab-mobile {
        display: flex;
    }
}